*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
}

:root{
    --margin: 70px;
    --red : red;
    --light : #fff;
    --black : #000;
}

section{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}

/* end global section */


/* start header section */


header{
    border-bottom: 1px solid #bbb;
    padding-bottom: 13px;
}

nav ul li a{
    font-size: 16px;
    color: var(--black) !important;
    opacity: 1;
    font-weight: 500;
}
.dropdown-menu{
    min-width: 400px;
}
.icons li i:hover{
    color: var(--red);
    cursor: pointer;
}


nav li a:hover{
    color: var(--red) !important;
    cursor: pointer;
}

/* end header section */







/* start scroll section */

.scroll{
    position: relative;
    z-index: 100;
}

.scroll .child{
    position: fixed;
    right: 40px;
    bottom: 70px;
    background-color: var(--black);
    color: var(--light);
    padding: 13px;
    border-radius: 30%;
    transition: all 1s ease-in-out;
}

.scroll .child:hover{
    cursor: pointer;
    background-color: var(--red);
    color: var(--light);
}

/* end scroll section */



/* start close section */

.note{
    max-width: 100%;
}

#close{
        color: var(--light);
        transition: all ease 1s;
        overflow-y: hidden;
}
    
#close:hover{
        color: var(--red);
        transition: all ease 2s;
 }

 #shop:hover{
    color: var(--red);
    cursor: pointer;
}
 /* end close section */






/* start slider section */

/* .slider .carousel-item img{
    min-height: 70vh;
    max-height: 70vh;
    width: 70vw;

} */

.carousel-item{
    position: relative;
}

.carousel-item .two{
    position: absolute;
    right: 35%;
    top: 20%;
    text-transform: uppercase;
    color: var(--black);
    font-weight: bolder;
    z-index: 10;
    width: 50%;
}

.butt-two{
   color: #333;
}

.btn-slider{
    padding: 10px 60px;
    background-color: var(--black);
    border-radius: 20px;
    border: 1px solid var(--light);
    color: var(--light);
    text-transform: uppercase;
    transition: all 1s ease;
}

.btn-slider.two{
    background-color: var(--light);
    border: 1px solid var(--black);
    color: var(--black);
}

.btn-slider:hover{
    color: var(--light);
    border: none;
    background-color: var(--red);
}


.carousel-item:first-of-type .text,
.carousel-item:last-of-type .text{
    position: absolute;
    left: 45%;
    top: 20%;
    text-transform: uppercase;
    color: var(--light);
    font-weight: bolder;
    
}

.black{
    display: none;
}

.p-one{
    text-align: center;
}
/* 
end slider section */








/* strat experince section */

#experince h4{
    color: #aaa;
    letter-spacing: 1.5px;
}

#experince p,
#experince h5{
    font-weight: bold;
}

.gray{
    color: #aaa;
    font-weight: normal;
    transition: all 5s ease-in-out;
}

#experince img:hover{
    transform: scale(.8);
    cursor: pointer;
}
hr{
    width: 100%;
    size: 1px;
    background-color: var(--black);
    display: none;
}

/* end experince section */








/* start features section */

.features .row .child{
    margin-top: 40px;
}


.features .row .child img{
    transition: all 2s ease;
}

.features .row .child img:hover{
    transform: scale(.8);
    cursor: pointer;
}

/* end features section */







/* 
start performance section */

.performance{
    max-width: 100%;
    min-width: 100%;
    margin-top: 60px;
    max-height: 90vh;
    min-height: 90vh;
    text-align: center;
}

.performance .parent{
    min-width: 100%;
    position: relative;
    margin: 10px auto !important;

}

.item1{
  position: absolute;
  left: calc(100% - 85% );
  top: calc(100% - 38%);
  width: 12px;
  height: 12px;
  background-color: var(--black);
  border-radius: 50%;
}

.item1 .child{
    text-align: center;
    min-height: 100px;
    width: 1px;
    background-color: var(--black);
    margin-left: 5px;
}

.item2{
    position: absolute;
    left: calc(100% - 63%);
    top: calc(100% - 38%);
    width: 12px;
    height: 12px;
    background-color: var(--black);
    border-radius: 50%;
}


.item2 .child{
    text-align: center;
    min-height: 170px;
    width: 1px;
    background-color: var(--black);
    margin-left: 5px;
}

.item3{
    position: absolute;
    left: calc(100% - 40%);
    top: calc(100% - 38%);
    width: 12px;
    height: 12px;
    background-color: var(--black);
    border-radius: 50%;
}


.item3 .child{
    text-align: center;
    min-height: 100px;
    width: 1px;
    background-color: var(--black);
    margin-left: 5px;
}

.item4{
    position: absolute;
    left: calc(100% - 15%);
    top: calc(100% - 38%);
    width: 12px;
    height: 12px;
    background-color: var(--black);
    border-radius: 50%;
}


.item4 .child{
    text-align: center;
    min-height: 170px;
    width: 1px;
    background-color: var(--black);
    margin-left: 5px;
}

.performance-img{
    margin-left: -22px;
    margin-top: 20px;
    max-width: 100%;
}
/* 
end performance section */



/* start perfiction section */


.perfiction{
    background-image: url('../img/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9_1920X_1.webp');
    padding-top: 50px;
    padding-bottom: 50px;
}

.perfiction .card{
    margin-bottom: 10px;
    background: none;
}

.perfiction .card button{
    font-size: 18px;
}


/* end perfiction section */





/* start subscrib section */


.subscrib{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../img/footer_ad0f20f1-29b5-4188-8127-a6667ac6aea9_1920X_1.webp');
    background-repeat: no-repeat;
}

.subscrib input{
    border-radius: 17px;
    width : 450px;
    height: 45px;
    padding: 5px 10px;
}

.subscrib input:focus{
    border: 1px solid var(--red);
    outline: var(--red);
}
.subscrib-ul{
    display: flex;
    flex-wrap: wrap;
}
.subscrib ul li{
    margin-right: 20px;
    text-align: center;
}

.subscrib ul li::after{
    content: '|';
    margin: 0 20px;
}

.subscrib .inp{
    margin: 0 auto;
    margin: 0 auto;
    position: relative;
    max-width: 70%;
}
.subscrib .inp input{
    max-width: 100%;
}
.subscrib .inp span{
    position: absolute;
    top: 10%;
    background-color: var(--red);
    left: 74%;
    padding: 5px 10px;
    background-color: var(--black);
    color: var(--light);
    border-radius: 50%;
}

/* end subscrib section */

.red{
    background-color: rgba(255, 0, 0, 0.5); 
}




.tsker{
    display: none;
}


.icons li {
    margin-right: 15px;
    font-size: 16px;
}

.icons li i{
    font-size: 20px;
}



@media(max-width : 1200px){
    .slider h2{
        font-size: 52px !important;
    }
    .slider h3{
        font-size: 32px;
    }
    .btn-slider{
        padding: 10px 50px;
    }
    .performance .parent img{
        max-width: 900px;
    }
}

@media(max-width : 992px){
    .slider .carousel-item img{
        min-height: 70vh;
        max-height: 70vh;
        width: 70vw;
    
    }
    .slider h2{
        font-size: 40px !important;
    }
    .slider h3{
        font-size: 32px;
    }
    .btn-slider{
        padding: 10px 40px;
    }
    .performance .parent img{
        max-width: 750px;
    }
    .subscrib .inp span{
        left: 88%;
    }
}

@media(max-width : 768px){
    .slider h2{
        font-size: 30px !important;
    }
    .slider h3{
        font-size: 22px;
    }
    .btn-slider{
        padding: 10px 30px;
    }
    .performance .parent img{
        max-width: 467px;
    }
    
}

@media(max-width : 467px){
    .slider h2{
        font-size: 26px !important;
    }
    .slider h3{
        font-size: 20px;
    }
    .btn-slider{
        padding: 7px 24px;
    }
    .performance .parent img{
        max-width: 350px;
    }
}



